.Header {
	position: relative;
}

.form_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form_button {
	height: 50px;
	width: 200px;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	font-size: 16px;
}

.form_button:hover {
	background-color: #798357;
	color: #fff;
	transition: color background 0.5s ease;
	transition: background 0.5s ease;
}

.logo path {
	fill: #d4ddb3;
}

.logo svg {
	width: 170px;
	height: 120px;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateX(40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.floating_text {
	opacity: 0;
	animation: fadeInUp 1s ease-out;
	animation-fill-mode: forwards;
}
