.Header {
	position: relative;
}

.form_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form_button {
	height: 50px;
	width: 200px;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	font-size: 16px;
}

.form_button:hover {
	background-color: #798357;
	color: #fff;
	transition: color background 0.5s ease;
	transition: background 0.5s ease;
}

.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	text-transform: uppercase;
}

.logo path {
	fill: #d4ddb3;
}

.logo svg {
	width: 170px;
	height: 120px;
}

.link {
	text-decoration: dotted;
	position: relative;
	color: #f6ffc4;
	transition: color 0.4s ease;
	cursor: pointer;
}
.link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 3px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.4s ease;
	border-radius: 2px;
}

.link:hover::after {
	transform: scaleX(1); /* Увеличиваем линию при hover */
}

.link:hover {
	color: #fff; /* Задержка 0.4 секунды перед изменением цвета */
}
