@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Manrope", sans-serif;
	font-weight: 500;
}

html,
body {
	margin: 0 !important;
	// min-height: calc(100vh - 500px);
	font-family: "Manrope", sans-serif;
}

body {
	background-color: #999c92;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
html::-webkit-scrollbar-track {
	padding: 2px 0;
	background-color: #c4c1c7;
}

html::-webkit-scrollbar {
	width: 8px;
}

html::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #2e2845af;
	width: 10px;
}
