.MyApp {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}

.mask {
	position: relative;
	z-index: 1;
	background-image: url("../../public/image/phon.jpg");
	width: 100%;
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.container {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.mask::after {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #767a65);
}

.products {
	position: absolute;
	width: 100%;
	background-color: #767a65;
	height: 600px;
	position: relative;
	z-index: 1;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.floating_text {
	opacity: 0;
	animation: fadeInUp 2s ease-out;
	animation-fill-mode: forwards;
}

@media (max-width: 1000px) {
	.MyApp {
		max-width: 1000px;
	}

	.mask {
		width: 100%;
		height: 500px;
		background-position: center;
	}

	.container {
		max-width: 1000px;
		height: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}

	.mask::after {
		height: 70%;
	}

	.logo_text {
		left: 35%;
	}

	.products {
		width: 100%;
		height: 600px;
	}
}

@media (max-width: 857px) {
}

@media (max-width: 414px) {
}
