.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	text-transform: uppercase;
}
.link {
	text-decoration: dotted;
	position: relative;
	color: #f6ffc4;
	transition: color 0.4s ease;
	cursor: pointer;
}
.link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 3px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.4s ease;
	border-radius: 2px;
}

.link:hover::after {
	transform: scaleX(1); /* Увеличиваем линию при hover */
}

.link:hover {
	color: #fff; /* Задержка 0.4 секунды перед изменением цвета */
}

@keyframes fadeInUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.floating_text {
	opacity: 0;
	animation: fadeInUp 2s ease-out;
	animation-fill-mode: forwards;
}
